.git
.gitignore
.github
.cursor/*
!.cursor/docker/
!.cursor/docker/**
.turbo

node_modules
**/node_modules
.pnpm-store

*.env
.env
.env.*
!*.env.example
*.log
coverage
**/coverage

**/.next
**/out
**/dist
**/build
**/.cache
**/.tmp
**/.strapi
**/.strapi-updater.json
**/.strapi-cloud.json
**/public/uploads

docs
load-test
agent-tools
